<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ClockPicker</title>
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="dist/bootstrap-clockpicker.min.css">
<link rel="stylesheet" type="text/css" href="assets/css/github.min.css">
</head>>
<body>
{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ClockPicker</title>
	<link rel="stylesheet" type="text/css" href="jquery-clockpicker.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="jquery-clockpicker.min.js"></script>






<link rel="stylesheet" type="text/css" href="{% static 'task/assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'task/dist/bootstrap-clockpicker.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'task/assets/css/github.min.css' %}">
    <link rel="stylesheet" href="{% static 'task/task.css' %}">
	</head>
<body>
	<h1>hello mam</h1>
	<p>it is p</p>
<div class="input-group clockpicker">
    <input type="text" class="form-control" value="19:00">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
    </span>
</div>

<script type="text/javascript">
$('.clockpicker').clockpicker({
    placement: 'bottom',
    align: 'left',
    donetext: 'Done'
});
</script>
You can also


</body>
</html>
