{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style type="text/css">
.fa_custom {
color: #0099CC
}
#sbmt{position:absolute;margin-top:10px;margin-left:330px;}
#item:hover{font-size:20px;}
#date{display:hide;}
li{position:relative;}
ul{list-style-type:none;}

</style>
<body>


{% for i in task %}
<ul>
    <li ><a id="item" href="">{{i.title}}</a></li>
   <form action="/editwork/" method="post">
    {% csrf_token %}<button type="submit" value="{{i.id}}" name="id">UPDATE</button></form>
  <form action="/deletework/" method="post">
    {% csrf_token %}<button type="submit" value="{{i.id}}" name="id">DELETE</button></form>

</ul>
{% endfor %}


  <form action="/workadd/" method="post">
    {% csrf_token %}
            <button type="submit" id="sbmt"><i class="fa fa-plus-circle fa_custom fa-4x"></i></button>
        </form>

</body>
</html>
